@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0;
}
.G{
    color:#FF42A5;
}
.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.section-title{
    color: #0B0223;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    
}
.section-description{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
section{
    margin-left: 150px;
    margin-right: 150px;
}
/* header section start */

/* nevber section start */

.nav-container{

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width:100%;
    height:10%;
    padding: 30px 150px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
}
.logo-container{

    display: flex;
    width: 50%;
    gap: 10px;
}

.logo-container img{

    width: 86.041px;
    height: 50
    object-fit: cover;

}

.logo-container h2{
    font-size: 2.8rem;
    font-weight:700 ;
    text-align: center;
    color: #0B0223;
}

.nav-items-container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    
}
.nav-items-container a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}
.nav-icon-container{
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    gap: 5px;
    padding: 10px;
}
/* navber section end */
/* banner section start */
.btn-primary{
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    margin-top: 10px;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 45px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
}
 #btn-blue{
    background: #4EC5F7;
    margin-left: 10px;
}

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.banner-img-container img{
    width: 450px;
  height: 100%;
    
}         
    
.banner-info-container{
   
    align-items: center;
    justify-content: center;
}
    
 .banner-info-container p{
        color: #0B0223;
        font-size: 2.5rem;
        font-weight: 600;
        text-transform: uppercase;
    }
.banner-info-container h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
}
.banner-info-container > ul{
    
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    text-transform: lowercase;
    list-style-type: none;
    padding: 0;
}



 
/* main section start */
/* online game section */

    margin-top: 50px;
}
#card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    display:flex;
    justify-content: center;
    flex-direction: column; 
    align-items: left;
    text-align: center;
    gap: 50px;
    width: 250px;
    height: 300px;
    margin-top: 100px;
    display: inline-flex;



}
.card img {
    width: 240px;
    height: 290px;
    gap: 24px;
}

.card-description {
    margin-top: -30px;
    font-size: 1rem;
    color: #534C64;
    font-weight: 500;
    text-align: start;
}
.card img:hover{
    border: 3px solid #F948B2;
    border-radius: 16px;

}

/* 
.card {
    position: relative;
  } 
  
  .card::before {
    content: "\f04b";
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
    border-radius:360deg ;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .card:hover::before {
    opacity: 1;
  }
  
   .card-descrip {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: #0B0223;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s;
    
  } 
  
  .card:hover .card-descrip {
    opacity: 1;
  }  */

  .card {
    position: relative;
  }
  
  .card .play-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #0B0223;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .card:hover .play-icon {
    opacity: 1;
  }
  .card-descrip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f30480;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .card:hover .card-descrip {
    opacity: 1;
  }
  


.play-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 160px 0;
}

.play-text-section {
    text-align: right;
    width: 400px;
}
.play-text-section .text-description{
    text-align: right;
    padding-right:20px ;
    margin-right: 20px;
}

.section-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #0B0223;
    margin-bottom: 20px;
}

.big-img {
    width: 450px;
}

.small-img {
    width: 170px;
    margin-top: -260px;
    margin-left: -130px;
}
 
/* game section */
 .games-container{
    gap: 10px;
    justify-items: center;
    margin:0 auto;
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
}
.games-container-1,.games-container-2{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.games-container-2{
    margin-top: 30px;
}
.games-card{
    display: flex;
    justify-items: center;
    text-align: center;
    align-items:center ;
}
/* .games-card:nth-child(n+5) {
    grid-column: span 1;
  } */
.games.card-des{
    text-align: center;
    align-items: center;
    font-size: .85rem;
    font-weight: 600;
    margin-left: 10px;
}
.games-card:hover{
    border-radius: 50px;
    background: #FFF;
    border: 2px solid #FF42A5;
    color: #FF42A5;
    padding: 5px;
}



/* footer section */
.footer{
    max-width: 100%;
    height: auto;
    background-color: #0B0223;
}
.footer-icon-title{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 24px;
}
.footer-icon-title h3{
    color: #FFF;
    font-size: 2.8rem;
    font-weight: 700;
}
.footer-content ul a{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: .85rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    gap: 50px;
    margin: 40px;
    text-decoration: none;

}
.footer-content{
    display: flex;
    justify-content:center;
    justify-items: center;
    margin-top: 50px;
    gap: 50px;
}
.footer-icon{
    display: flex;
    justify-content: center;

    margin: 30px;

}
.footer-icon img{
    margin: 40px;
    margin-top: 20px;
}
.footer-descrip{
    display: flex;
    justify-content: center;
}
.footer-descrip p{
    margin: 30px;
    margin-top: 0px;
    font-size: .7rem;
    font-weight: 500;
    color:rgb(203, 195, 195);
}
.footer-copy-right{
    display: flex;
    justify-content: center;
    font-size: .7rem;
    font-weight: 500;
    color:rgb(203, 195, 195);
    padding-bottom: 150px;
    
}

/* responsive section */

@media screen and (max-width:576px) {
    *{
        margin-block: 0;
    }
    .nav-container,.nav-items-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        justify-content: center;
        margin-left: 200px;
        box-shadow: none;
        
    }
    .logo-container{
        text-align: center;
        justify-items: center;
        margin-left: 200px;
        margin-top: 100px;
    }
    .banner-container{
        display: grid;
        grid-template-columns: repeat(1 1fr);
        justify-content: left;
        margin-left: 300px;
    }
    
}